/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form Container */
.form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* Circular Progress */
.progress-section {
    position: absolute;
    top: 50px;
    right: 10px;
    text-align: center;
    
    margin-right: 0px;
}

.circular-progress {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#5e7b65 65%, #ddd 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.progress-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Form Inputs */
label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input.error {
    border-color: red;
}

small {
    color: red;
    display: block;
    margin-top: -10px;
    margin-bottom: 1rem;
}

/* Toggle Password Button */
.toggle-password {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    margin-left: -30px;
    margin-top: -35px;
}

/* Submit Button */
.submit-btn {
    background-color: #000;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: #333;
}

/* Checklist */
.checklist {
    padding-top:70px ;

}

.checklist ul {
    list-style-type: none;
    box-shadow: 0 0 10px rgba(75, 59, 59, 0.1);
margin-top: 80px;
}

.checklist li {
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.checklist del {
    color: #888;
}
.form-container p{
    align-content: center;
    margin-right: 40px;
    font-style: oblique;
}